<button onclick="clickiter()" >click to see magic</button>
<div id="rep"></div>
<script>
    var j=1;
    function clickiter() {
        var repeatH1 = document.getElementById('rep');
        for(i=0;i<5;i++) {
            repeatH1.innerHTML += "<h3>" + j++ + " Loop of 5 iteration and writing something else<h3>";
        }
    }
</script>